.img {
  text-align: center;
}

.default {
  margin-top: 10%;
  width: 65%;
}
@media screen and (max-width: 1400px) {
  .default {
    width: 100%;
  }
}

.img h3 {
  margin-top: 3%;
}

.img h5 {
  margin-top: 2%;
  color: dimgrey;
}
.img button {
  background-color: rgb(1, 66, 172);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 15px;
  border: none;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}

.press {
  margin-left: 1%;
}

.min {
  margin: 2%;
}

.hint {
  color: blue;
}
.name {
  font-size: 23px;
}

.form-name {
  margin-top: 10%;
}
.form{
    margin-top: 5%;
}

.input {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(1, 66, 172);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  transform: translateZ(0px);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgb(1 66 172 / 30%) 0px 1px;
  background-color: transparent !important;
}

.custom-select {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: #2e4b66;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  margin-top: 1%;
  font-size: 18px;
}

.select-items {
  position: absolute;
  background-color: #2e4b66;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.Submit{
    padding: 6px 14px;
    background-color: rgb(1, 66, 172);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    margin: 25px;
    font-size: 20px;
}

.again{
    padding: 6px 14px;
    background-color: rgb(1, 66, 172);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    margin: 25px;
    font-size: 20px;
}
.againcenter{
    text-align: center;
    margin-top: 10%;
   
}
